@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.navbar{
    position: fixed;
    background-color: white;
    height: 70px;
    width: 500px;
    border-radius: 15px;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 12px rgb(228, 222, 222);
}

.logo a img{
    width: 110px;
}

.links-1 ul, .links-2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-1 ul li, .links-2 ul li{
    list-style-type: none;
    margin: 12px;
}

.links-1 a, .links-2 a{
    text-decoration: none;
    color: black;
    text-shadow: 0 1px 10px rgb(169, 164, 164);
    font-weight: 600;
}

.break{
    background-color: #ff0000;
    height: 5px;
}

h1{
    text-align: center;
    color: white;
    font-size: 60px;
    text-shadow: 0 2px 10px white;
}

.hero{
    height: 840px;
    background-image: url(/images/dodge-challenger-reign-supreme-h0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color: white;
    font-size: 18px;
    text-shadow: 0 2px 10px rgb(0, 0, 0);
    font-weight: 500;
}

.dodge-para, .history-para{
    width: 1050px;
    margin: auto;
}

.history{
    height: 1400px;
    background-image: url(/images/about.jpg);
    background-repeat: repeat-;
    background-size: cover;
}

span{
    color: rgb(208, 255, 0);
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 500px;
}

.dodge-footer {
  color: #f5f5f5;
  text-align: center;
  padding: 50px 20px;
  border-top: 3px solid #c8102e;
}

.dodge-footer h2 {
  font-size: 2em;
  color: #c8102e;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.dodge-footer p {
  font-size: 1em;
  color: #aaa;
  margin-bottom: 15px;
}

.footer-links {
  margin: 15px 0;
}

.footer-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
}

.social-icons a {
  font-size: 1.5em;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.footer-copy {
  margin-top: 25px;
  font-size: 0.9em;
}
