@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.navbar{
    position: fixed;
    background-color: white;
    height: 70px;
    width: 500px;
    border-radius: 15px;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 12px rgb(228, 222, 222);
}

.logo a img{
    width: 110px;
}

.links-1 ul, .links-2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-1 ul li, .links-2 ul li{
    list-style-type: none;
    margin: 12px;
}

.links-1 a, .links-2 a{
    text-decoration: none;
    color: black;
    text-shadow: 0 1px 10px rgb(169, 164, 164);
    font-weight: 600;
}

.break{
    background-color: #ff0000;
    height: 5px;
}

h1{
    text-align: center;
    color: white;
    font-size: 100px;
    text-shadow: 0 2px 10px white;
}

.main{
    height: 2500px;
}

.cards{
    width: 94%;
    margin: auto;
    border: 2px solid white;
    height: 1750px;
    margin-top: 20px;
    background-color: rgb(46, 46, 46);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
  width: 470px;
  height: 500px;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  margin: 35px 22px;
  }

.img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  align-items: top;
  justify-content: right;
}

.text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.icon-box {
  width: 80%;
  margin: 15px auto;
  padding: 10px;
  background-color: #49605b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}

.text .h3 {
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.text .p {
    margin-top: 8px;
    margin-bottom: 8px;
  color: #838181;
  font-size: 13px;
}

.icon-box .span {
  margin: auto;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
}

.cart{
  width: 95%;
  margin-top: 80px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
  border-radius: 15px;
  background-color: #000000;
  color: white;
  font-size: 19px;
  padding: 30px 20px;
}

.checkout{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  background-color: red;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 25px;
  margin: 15px 10px;
  cursor: pointer;
  
}

.dodge-footer {
  color: #f5f5f5;
  text-align: center;
  padding: 50px 20px;
  border-top: 3px solid #c8102e;
}

.dodge-footer h2 {
  font-size: 2em;
  color: #c8102e;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.dodge-footer p {
  font-size: 1em;
  color: #aaa;
  margin-bottom: 15px;
}

.footer-links {
  margin: 15px 0;
}

.footer-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
}

.social-icons a {
  font-size: 1.5em;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.footer-copy {
  margin-top: 25px;
  font-size: 0.9em;
}

.card1{
    background-image: url(/images/hornet.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.card2{
    background-image: url(/images/durango.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.card3{
  background-image: url(/images/charger1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.card4{
  background-image: url(/images/DEMON122.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card5{
  background-image: url(/images/daytonaev.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card6{
  background-image: url(/images/hellcar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}