@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.navbar{
    position: fixed;
    background-color: white;
    height: 70px;
    width: 500px;
    border-radius: 15px;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 12px rgb(228, 222, 222);
}

.logo a img{
    width: 110px;
}

.links-1 ul, .links-2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-1 ul li, .links-2 ul li{
    list-style-type: none;
    margin: 12px;
}

.links-1 a, .links-2 a{
    text-decoration: none;
    color: black;
    text-shadow: 0 1px 10px rgb(169, 164, 164);
    font-weight: 600;
}

.main-img img, .secimg img{
    width: 100%;
}

.main-head-text h1{
    color: #ffffff;
}

.main-head-text {
    width: 350px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

span{
    color: red;
    text-shadow: 0 2px 20px red;
}

.break{
    background-color: #ff0000;
    height: 5px;
}

.sec2{
    background-image: url(/images/my26-dodge-charger-vlp-hero-thumb-desktop.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 530px;
}

.sectext h1, .intro h1{
    text-align: center;
    color: white;
    font-size: 120px;
    text-shadow: 0 2px 10px white;
}

.sectext p{
    color: white;
    font-weight: 300;
    background-color: black;
}

.sectext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p{
    width: 80%;
}

.dodge{
    height: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/images/New\ Project.png);
}

.main-header{
    background-image: url(/images/my26-dodge-charger-bhp-hero-thumb-desktop.jpeg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-head-cont{
    display: flex;
    justify-content: flex-end;
    padding-top: 130px;
}

.intro h2{
    text-align: center;
    color: white;
    font-size: 80px;
    text-shadow: 0 1px 4px white;
    font-weight: 400;
}

button{
    background-color: red;
    color: white;
    padding: 8px 10px;
    border: 0;
    border-radius: 10px;
    margin-right: 227px;
    cursor: pointer;
}

.button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.demon{
    background-image: url(/images/007-2023-dodge-srt-challenger-demon-170-left-rear.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

.demon2{
    background-image: url(/images/016-dodge-demon-170-launch-wheelie.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

.demon-text h1{
    text-align: center;
    color: white;
    font-size: 80px;
    text-shadow: 0 2px 10px white;
}

.demon-para p{
    color: white;
}

.demon-para{
    width: 80%;
}

.demon-para-center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demon-button{
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.end-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.garage{
    width: 80%;
}

.garage h2{
    color: white;
    font-size: 30px;
}

.garage-button{
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.pics{
    background-image: url(/images/qwerty.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.dodge-footer {
  color: #f5f5f5;
  text-align: center;
  padding: 50px 20px;
  border-top: 3px solid #c8102e;
}

.dodge-footer h2 {
  font-size: 2em;
  color: #c8102e;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.dodge-footer p {
  font-size: 1em;
  color: #aaa;
  margin-bottom: 15px;
}

.footer-links {
  margin: 15px 0;
}

.footer-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
}

.social-icons a {
  font-size: 1.5em;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.footer-copy {
  margin-top: 25px;
  font-size: 0.9em;
}
